#day-details {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
    color: white;
}

#day-details.isOpened {
    animation-name: slideToLeft;
    animation-duration: .3s;
    animation-fill-mode: forwards;
}

#day-details.isClosed {
    animation-name: close;
    animation-duration: .3s;
    animation-fill-mode: forwards;
}

#day-details button {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    outline: none;
    cursor: pointer;
}

#day-details .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    background: transparent;
    border: 0;
    cursor: pointer;
    transition: .2s;
    padding: 0;
    left: 25px;
    top: 10px;
}

#day-details .closebtn:hover {
    color: red;
}

/* formulario nuevo detalle */

#day-details .add-details-container h1 {
    text-align: center;
}

#day-details .add-details-container .field {
    width: 80%;
    margin: auto;
}

#day-details .add-details-container input,
#day-details .add-details-container textarea {
    display: block;
    width: 100%;
    margin-top: 8px;
    margin-bottom: 30px;
    border: 0;
    border-radius: 4px;
    padding: 10px;
    font-family: 'Fira Sans', sans-serif;
    outline: none;
}

#day-details .add-details-container textarea {
    height: 100px;
    min-height: 100px;
    max-height: 200px;
    min-width: 100%;
    max-width: 100%;
}

#day-details .add-details-container button[type="submit"] {
    font-family: 'Fira Sans', sans-serif;
    margin: auto;
    padding: 10px 15px;
    font-size: 18px;
    background: var(--secondary-color);
    color: black;
    border: 0;
}

#day-details .add-details-container button[type="submit"]:hover,
#day-details .add-details-container button[type="submit"]:focus {
    background: var(--darken-secondary-color);
}

#day-details .add-details-container button[type="submit"]:disabled {
    cursor: not-allowed;
}

/* detalles */

#day-details .details-list .detail {
    padding-left: 16px;
    padding-right: 16px;
}

#day-details .details-list .detail .title {
    text-align: left;
}

#day-details .details-list .detail .title .time {
    float: right;
    color: white;
}

#day-details .details-list .detail .description {
    text-align: left;
}

#day-details .no-details .img {
    text-align: left;
    max-width: 25%;
    animation: spin 5s linear infinite;
}

/* animaciones */

@keyframes slideToLeft {
    0% {
        width: 0;
    }
    100% {
        width: 350px
    }
}

@keyframes close {
    0% {
        width: 350px;
    }
    100% {
        width: 0
    }
}

/* rotar imagen */

@keyframes spin {
    0% {
        transform: translate(-100px, 25px) rotate(60deg);
    }
    9% {
        transform: translate(90px, 5px) rotate(130deg);
    }
    17% {
        transform: translate(160px, 45px) rotate(250deg);
    }
    26% {
        transform: translate(270px, 15px) rotate(360deg);
    }
    34% {
        transform: translate(360px, 45px) rotate(490deg);
    }
    42% {
        transform: translate(480px, 30px) rotate(600deg);
    }
    100% {
        transform: translate(601px, 25px) rotate(720deg);
    }
}