@import url('https://fonts.googleapis.com/css?family=Fira+Sans');

body {
  font-family: 'Fira Sans', sans-serif;
}

.main-wrapper .title {
  text-align: center;
}

.react-calendar {
  margin: auto;
}