/* contenedor del calendario */
.react-calendar {
    margin: auto;
    width: 50%;
    border: 1px solid;
}

.react-calendar .react-calendar__navigation {
    border-bottom: 1px solid;
}

.react-calendar .react-calendar__month-view__weekdays {
    background-color: white;
    border-bottom: 1px solid;
}

/* botones */
.react-calendar button {
    outline: none;
    background-color: white;
    border: 0;
    padding: 10px 15px;
    cursor: pointer;
    transition: .2s;
    font-family: 'Fira Sans', sans-serif;
}

.react-calendar button:hover {
    background: lightgray;
}

/* nombres dias de la semana */
.react-calendar .react-calendar__month-view .react-calendar__month-view__weekdays {
    padding: 20px;
}

/* dias de la semana */
.react-calendar .react-calendar__month-view__days .react-calendar__tile {
    height: 75px;
    width: 75px;
}

/* findes */
.react-calendar .react-calendar__month-view__days__day--weekend {
    color: red;
}

/* dias de fuera de mes actual */
.react-calendar .react-calendar__month-view__days__day--neighboringMonth {
    color: rgb(209, 209, 209);
}

/* dia actual */
.react-calendar .react-calendar__tile--now {
    border: 1px solid lightblue;
    background: lightblue;
    color: white;
}

.react-calendar .react-calendar__tile--now:hover {
    opacity: .7;
    background: lightblue;
}